<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">hello! <%= @user_name %></h1>
        <h4 class="text-white-50 mx-auto mt-2 mb-5">
        <% @posts.each do |post| %>
        <%= truncate(post.body) %> <%= link_to("see more", post) %>
  <p>
  <% if like_for_post(post) %>
    <%= link_to "Unlike", like_path(like_for_post(post)), method: :delete %>
  <% else %>
    <%= link_to "Like", likes_path(post_id: post.id), method: :post %>
  <% end %>
</p>
<% end %>
        </h4>
        
      </div>
    </div>
  </header>
